*.md text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.scss text eol=lf
*.svg text eol=lf
*.xml text eol=lf
.git* text eol=lf
*license text eol=lf
*.ipynb text eol=lf

*.pdf binary
*.jpg binary
*.png binary
*.jpeg binary
